#root {
    background-color: #1e468e; 
    height: 150px; 
    width: 100%;
  }

  .card{
    border-radius: 30px !important;
    box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
    border-color: rgba(0,0,0,.125) !important;
  }
  .heading{
    color:#1e468e !important;
    font-weight: bold;
    font-size: 24px;
    margin-top: 5% !important;
  }

  .heading2{
    color:#1e468e !important;
    font-weight: bold;
    font-size: 28px;
  }
  .form-label{
    color:#1e468e !important;
    text-align: left !important;
  }
  
  .row {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.addr{
  text-align: left;
}

input {
 /* background: #fff;
  color: #525865;
  border-radius: 4px;
  border: 1px solid #d1d1d1;*/
  box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.07) !important;
 /* font-family: inherit;
  font-size: 1em;
  line-height: 1.45;
  outline: none;
  padding: 0.6em 1.45em 0.7em;
  -webkit-transition: .18s ease-out;
  -moz-transition: .18s ease-out;
  -o-transition: .18s ease-out;
  transition: .18s ease-out;*/
}
input:hover {
  box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.02);
}
input:focus {
  color: #4b515d;
  border: 1px solid #B8B6B6;
  box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.01), 0px 0px 8px rgba(0, 0, 0, 0.2);
}


#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
counter-reset: step;
font-size: 11px;
font-weight: bold;

}

#progressbar li {
	list-style-type: none;
	text-transform: uppercase;
  width: 33.33%;
	float: left;
	position: relative;
  text-align: center;
  color: #dad4d4;
}

#progressbar li.active
{
  color: #1e468e;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
  border-radius: 100%;
  border:3px solid #e5e5e5;
  width: 35px;
  height: 35px;
	line-height: 20px;
	display: block;
	font-size: 14px;
	color: #333;
  font-weight: bold;
  padding-top: 3px;

	
	margin: 0 auto 5px auto;
}


#progressbar li:after {
	/*content: '';
	width: 100%;
	height: 2px;
	background: #362f2f !important;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; */

  content: '';
    width: 82%;
    height: 2px;
    background: #e5e5e5 !important;
    position: absolute;
    left: -41%;
    top: 15px;
}
#progressbar li:first-child:after {
	
	content: none; 
}

#progressbar li.active:before,  #progressbar li.active:after{
	background: #fff;
	border-radius: 100%;
  border:3px solid #1e468e;
  width: 35px;
  height: 35px;
  color: #1e468e;
}

.d-flex {
 display: block !important;
  padding-top: 7%;
}

.drawer .menu-container .menu-item{
  padding: 0.9rem 1rem !important;
  font-size: 14px !important;
  border-bottom: 1px dotted #eee;
}

.border-primary{
  box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
  border-color: rgba(0,0,0,.125) !important;
}

hr {
  margin-top: 10px !important;
  border-top: 1px dotted #b5b5c5 !important;
}

.btn-primary{
  background-color: #1e468e !important;
    border-color: #1e468e !important;
}

.col-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xl-6{
  padding-bottom: 0rem !important;
  padding-top : 0rem !important;
  border:0px ​solid #fff !important;
}

.heading_line{
  border: 1px solid #f26d21!important;
  width: 12%;
  text-align: center;
  margin-top: 0px !important;
}

.heading_line2{
  border: 1px solid #f26d21!important;
  width: 5%;
  text-align: center;
  margin-top: 0px !important;
}

.box_tittle{
  width: 100%;
}

.box_tittle h4{
  width: 100%;
  font-weight: bold;
  color: #f26d21;
  padding-top: 10px;
  padding-bottom: 10px;
}